Student Journey Tracker/Project/Flows/Send_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Birthday_Email</name>
        <label>“Send Birthday Email</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Birthdays</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email</label>
    <loops>
        <name>Loop_Through_Birthdays</name>
        <label>Loop Through Birthdays</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Birthday_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Birthday_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Birthday_Contacts</name>
        <label>Get Birthday Contacts</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Birthdays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Birthday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Birthday_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Birthday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-19</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>Body_Email</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Happy Birthday, {!Loop_Through_Birthdays.FirstName}! Wishing you a fantastic day!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Dear {!$Record.FirstName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;On behalf of everyone at Edubot, we want to take a moment to wish you a very &lt;strong&gt;Happy Birthday!&lt;/strong&gt; 🎉&lt;/p&gt;&lt;p&gt;Your dedication, hard work, and positive spirit are truly appreciated, and we are grateful to have you as part of our team. May this special day bring you joy, success, and wonderful memories.&lt;/p&gt;&lt;p&gt;Wishing you a fantastic year ahead filled with happiness, good health, and accomplishments! Enjoy your day!&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Best regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt; [Your Name]&lt;/p&gt;&lt;p&gt; [Your Position]&lt;/p&gt;&lt;p&gt; [Company Name]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
